<!-- News Section Start -->
<header id="header-wrap">
        <app-navigation></app-navigation>
        <!-- Main Carousel Section Start -->
        <div id="main-slide" class="carousel slide" data-ride="carousel">
    
            <div class="carousel-inner">
                <div class="team-banner">
                    <img class="d-block w-100" src="assets/img/background/team-banner.jpg" alt="First slide">
                    <div class="carousel-caption d-md-block">
    
                        <h1 class="wow fadeInDown heading" data-wow-delay=".4s">Print Media News</h1>
                        <div *ngIf="!auth.isLoggedIn() && !user" id="mySidenav" class="sidenav">
                            <div class="">
                                <a href="#" class="nav-reg-btn levitate"  id="reg"><strong>REGISTER <br><span class="mob_hide">NOW</span></strong></a>
                            </div>
                        </div>
    
                    </div>
                </div>
    
            </div>
            <!-- Main Carousel Section End -->
        </div>
    </header>
    <div style="display:none" id="divreg" class="toggle-form">
        <app-register></app-register>
    </div>
    <div style="display:none" id="divshow2">
        <app-login></app-login>
    </div>
    
    <section id="gallery_print_news" class="section-padding" >
            <div class="container">
               
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-lg-4">
                        <div class="gallery-box">
                            <div class="img-thumb">
                                <img class="img-fluid" src="assets/img/print-media/new1.png" alt="">
                            </div>
                            <div class="overlay-box text-center">
                                <a class="lightbox" href="assets/img/print-media/new1.png">
                                    <i class="lni-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="ccol-md-6 col-sm-6 col-lg-4" margin rig>
                        <div class="gallery-box">
                            <div class="img-thumb">
                                <img class="img-fluid" src="assets/img/print-media/new3.png" alt="">
                            </div>
                            <div class="overlay-box text-center">
                                <a class="lightbox" href="assets/img/print-media/new3.png">
                                    <i class="lni-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="ccol-md-6 col-sm-6 col-lg-4" margin rig>
                            <div class="gallery-box">
                                <div class="img-thumb">
                                    <img class="img-fluid" src="assets/img/print-media/new5.png" alt="">
                                </div>
                                <div class="overlay-box text-center">
                                    <a class="lightbox" href="assets/img/print-media/new5.png">
                                        <i class="lni-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="ccol-md-6 col-sm-6 col-lg-4" margin rig>
                                <div class="gallery-box">
                                    <div class="img-thumb">
                                        <img class="img-fluid" src="assets/img/print-media/new4.png" alt="">
                                    </div>png
                                    <div class="overlay-box text-center">
                                        <a class="lightbox" href="assets/img/print-media/new4.png">
                                            <i class="lni-plus"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="ccol-md-6 col-sm-6 col-lg-4" margin rig>
                                    <div class="gallery-box">
                                        <div class="img-thumb">
                                            <img class="img-fluid" src="assets/img/print-media/new6.png" alt="">
                                        </div>
                                        <div class="overlay-box text-center">
                                            <a class="lightbox" href="assets/img/print-media/new6.png">
                                                <i class="lni-plus"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="ccol-md-6 col-sm-6 col-lg-4" margin rig>
                                        <div class="gallery-box">
                                            <div class="img-thumb">
                                                <img class="img-fluid" src="assets/img/print-media/new7.png" alt="">
                                            </div>
                                            <div class="overlay-box text-center">
                                                <a class="lightbox" href="assets/img/print-media/new7.png">
                                                    <i class="lni-plus"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ccol-md-6 col-sm-6 col-lg-4" margin rig>
                                            <div class="gallery-box">
                                                <div class="img-thumb">
                                                    <img class="img-fluid" src="assets/img/print-media/new8.png" alt="">
                                                </div>
                                                <div class="overlay-box text-center">
                                                    <a class="lightbox" href="assets/img/print-media/new8.png">
                                                        <i class="lni-plus"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ccol-md-6 col-sm-6 col-lg-4" margin rig>
                                                <div class="gallery-box">
                                                    <div class="img-thumb">
                                                        <img class="img-fluid" src="assets/img/print-media/new9.png" alt="">
                                                    </div>
                                                    <div class="overlay-box text-center">
                                                        <a class="lightbox" href="assets/img/print-media/new9.png">
                                                            <i class="lni-plus"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
    
                                            <div class="ccol-md-6 col-sm-6 col-lg-4" margin rig>
                                                    <div class="gallery-box">
                                                        <div class="img-thumb">
                                                            <img class="img-fluid" src="assets/img/print-media/new11.png" alt="">
                                                        </div>
                                                        <div class="overlay-box text-center">
                                                            <a class="lightbox" href="assets/img/print-media/new11.png">
                                                                <i class="lni-plus"></i>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                               
                                                    
                   </div>
            </div>
           
           
        </section>
        <app-footer></app-footer>
        
    
