<!-- Footer Section Start -->
>
<footer class="footer-area section-padding" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.2s">
                <h3><img style="width: 180px; height:180px;" src="assets/img/logo.png" alt=""></h3>

            </div>
            <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.4s">
                <h3>QUICK LINKS</h3>



                <ul>
                    <li><a href="#">About Us</a></li>

                    <li><a href="#">Event Shedule</a></li>
                    <li><a href="#">News/Media</a></li>
                    <li><a href="#">Picture Gallery</a></li>
                </ul>

            </div>
            <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.6s">
                <h3>FOLLOW US ON</h3>
                <ul class="footer-social">
                    <li><a class="facebook" href="#"><i class="lni-facebook-filled"></i></a></li>
                    <li><a class="twitter" href="#"><i class="lni-twitter-filled"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="lni-linkedin-filled"></i></a></li>
                    <li><a class="google-plus" href="#"><i class="lni-google-plus"></i></a></li>
                </ul>



            </div>
            <div class="col-md-6 col-lg-3 col-sm-6 col-xs-12 wow fadeInUp" data-wow-delay="0.8s">
                <h3>Address</h3>
                <ul class="image-list">

                    <div class="contact-info">
                        <div class="mb-5">
                            <h4 class="mb-3"></h4>
                            <p><span class="fas fa-map mr-2"></span>606 - 607, Gera Grand Imperium, Patto</p>
                            <p>Panjim,Goa.</p>
                            <p><span class="fas fa-phone mr-2"></span>+91 8322987777 </p>
                            <p><span class="fas fa-envelope mr-2"></span> <a href="info@pokersportsleague.com"> info@pokersportsleague.com</a> </p>
                        </div>

                    </div>
                </ul>
                <!-- /.widget -->
                <div class="widget">

                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Footer Section End -->
