<section id="faq" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title-header text-center">
                        <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">FAQ</h1>
                        <p class="wow fadeInDown" data-wow-delay="0.2s">Poker Sports League</p>
                    </div>
                </div>
            </div>
            <div class="row faq-row">
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                    <div class="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <div class="header-title" data-toggle="collapse" data-target="#questionOne" aria-expanded="true" aria-controls="collapseOne">
                                    <i class="lni-pencil"></i> How do I enter the league?
                                </div>
                            </div>
                            <div id="questionOne" class="collapse" aria-labelledby="headingOne" data-parent="#question">
                                <div class="card-body">
                                        You can enter the league as a live or online qualifier. You can qualify as a pro player. You can qualify as a Mentor and you can qualify as a wildcard. For more details and registration, go here</div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <div class="header-title" data-toggle="collapse" data-target="#questionTwo" aria-expanded="false" aria-controls="questionTwo">
                                    <i class="lni-pencil"></i> Is there a registration fee?
                                </div>
                            </div>
                            <div id="questionTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#question">
                                <div class="card-body">
                                        No, the Poker Sports League charges no fees for registration, The only way to register is to qualify through one of the four avenues. We do this to make sure we are providing a level playing ground not limited by bankrolls.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <div class="header-title" data-toggle="collapse" data-target="#questionThree" aria-expanded="false" aria-controls="questionThree">
                                    <i class="lni-pencil"></i>What Salary do I get as a player?
                                </div>
                            </div>
                            <div id="questionThree" class="collapse" aria-labelledby="headingThree" data-parent="#question">
                                <div class="card-body">
                                        There are four different ways you can play in PSL, There are online and live qualifiers, There is a pro draft, A mentor draft and wildcards. If you qualify through the qualifiers (online/live) you get v salary. If you are drafted via the pro draft you get x salary. If you are drafted through the mentor draft you get y salary. Wildcards get z salary.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFour">
                                <div class="header-title" data-toggle="collapse" data-target="#questionFour" aria-expanded="false" aria-controls="questionFour">
                                    <i class="lni-pencil"></i> Does everyone in the player draft get selected for a team?
                                </div>
                            </div>
                            <div id="questionFour" class="collapse" aria-labelledby="headingFour" data-parent="#question">
                                <div class="card-body">
                                        No, picks are made by teams in the selection ceremony  based on the lineup they think will work for them. But fret not, we still have contests and other fun stuff lined for you. Don’t be disheartened. Poker is all about that long term, Grind harder and season 3 will come around soon! 
                                </div>
                            </div>
                        </div>
                        <div class="card">
                                <div class="card-header" id="headingFive">
                                    <div class="header-title" data-toggle="collapse" data-target="#questionFive" aria-expanded="false" aria-controls="questionFive">
                                        <i class="lni-pencil"></i> Will PSL reimburse me for expenses incurred?
                                    </div>
                                </div>
                                <div id="questionFive" class="collapse" aria-labelledby="headingFive" data-parent="#question">
                                    <div class="card-body">
                                            Yes  you will be reimbursed for your travel and stay *to and from the location of the finale*
                                    </div>
                                </div>
                        </div>

                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12">
                    <div class="accordion">
                        <div class="card">
                            <div class="card-header" id="headingOne2">
                                <div class="header-title" data-toggle="collapse" data-target="#questionOne2" aria-expanded="true" aria-controls="collapseOne">
                                    <i class="lni-pencil"></i> Can I choose my team?
                                </div>
                            </div>
                            <div id="questionOne2" class="collapse" aria-labelledby="headingOne2" data-parent="#question">
                                <div class="card-body">
                                        In PSL, Our structure is one where the Teams draft the players. Once drafted, you have to play for the team you are drafted for. 
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo2">
                                <div class="header-title" data-toggle="collapse" data-target="#questionTwo2" aria-expanded="false" aria-controls="questionTwo2">
                                    <i class="lni-pencil"></i> Will my team be from my region in India?
                                </div>
                            </div>
                            <div id="questionTwo2" class="collapse" aria-labelledby="headingTwo2" data-parent="#question">
                                <div class="card-body">
                                    Not necessarily. If it is, it’s by coincidence. No mandate for it.
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree3">
                                <div class="header-title" data-toggle="collapse" data-target="#questionThree3" aria-expanded="false" aria-controls="questionThree3">
                                    <i class="lni-pencil"></i> Do I need to have an Adda ID for PSL?
                                </div>
                            </div>
                            <div id="questionThree3" class="collapse" aria-labelledby="headingThree3" data-parent="#question">
                                <div class="card-body">
                                        Yes you need to have an ADDA52 and PSL ID for the league. 
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFour4">
                                <div class="header-title" data-toggle="collapse" data-target="#questionFour4" aria-expanded="false" aria-controls="questionFour4">
                                    <i class="lni-pencil"></i> Do players get incentives for winning the finale or just base salary?
                                </div>
                            </div>
                            <div id="questionFour4" class="collapse" aria-labelledby="headingFour4" data-parent="#question">
                                <div class="card-body">
                                        Yes they do get incentives, Players drafted from live and online drafts get x% and y% of the prize. While Pros and Mentor  get z% and t% respectively. The owner keeps A%</div>
                            </div>
                        </div>
                        <div class="card">
                                <div class="card-header" id="headingFive5">
                                    <div class="header-title" data-toggle="collapse" data-target="#questionFive5" aria-expanded="false" aria-controls="questionFive5">
                                        <i class="lni-pencil"></i> If my team gets eliminated, Do I still get to stay for the event? What if I get eliminated?
                                    </div>
                                </div>
                                <div id="questionFive5" class="collapse" aria-labelledby="headingFive5" data-parent="#question">
                                    <div class="card-body">
                                            Yes you and your team are welcome to! Regardless of who gets or doesn’t get eliminated.</div>
                                </div>
                        </div>

                        
                    </div>
                </div>
            
            </div>
            <div class="row faq-row" id="faqex"  aria-labelledby="faqmore" >
                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 collapse multi-collapse" id="faqex1">
                            <div class="accordion">
                               
                                <div id="faqex" class="collapse" aria-labelledby="faqmore" data-parent="#question"></div>
                                        <div class="card">
                                                <div class="card-header" id="headingSix">
                                                    <div class="header-title" data-toggle="collapse" data-target="#questionSix" aria-expanded="false" aria-controls="questionSix">
                                                        <i class="lni-pencil"></i> How long will the event run?
                                                    </div>
                                                </div>
                                                <div id="questionSix" class="collapse" aria-labelledby="headingSix" data-parent="#question">
                                                    <div class="card-body">
                                                            The event will run for a week, Including two days of boot camp.
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="card">
                                                <div class="card-header" id="headingSeven">
                                                    <div class="header-title" data-toggle="collapse" data-target="#questionSeven" aria-expanded="false" aria-controls="questionSeven">
                                                        <i class="lni-pencil"></i> What all variants of poker will be played?
                                                    </div>
                                                </div>
                                                <div id="questionSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#question">
                                                    <div class="card-body">
                                                            We want to test teams in many formats, aiming to be as diverse as possible. Some of the different variants to be played are PLO, SNG’S, Team Events, Shot clock, Short Deck  along with NLHE. 
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="card">
                                                <div class="card-header" id="heading8">
                                                    <div class="header-title" data-toggle="collapse" data-target="#question8" aria-expanded="false" aria-controls="question8">
                                                        <i class="lni-pencil"></i> Are there any parties during PSL?
                                                    </div>
                                                </div>
                                                <div id="question8" class="collapse" aria-labelledby="heading8" data-parent="#question">
                                                    <div class="card-body">
                                                            Yes we are going to host Player parties and meet and greets. You will get to socialize and have fun with an International pool of players. Do I need to tell you the event will be loads of fun? I will anyway!
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="card">
                                                <div class="card-header" id="heading9">
                                                    <div class="header-title" data-toggle="collapse" data-target="#question9" aria-expanded="false" aria-controls="question9">
                                                            <i class="lni-pencil"></i> What is the difference between Mentor and Pro?   
                                                    </div>
                                                    </div>
                                                <div id="question9" class="collapse" aria-labelledby="heading9" data-parent="#question">
                                                    <div class="card-body">
                                                            Mentor is the in-game leader and captain of the team. They strategize, lay out tactics, They select roles for teammates and take the calls on key decisions. They have administrative privileges. While the Pro is a highly skilled Marquee player who is there to help the team gain an edge, but has no administrative privileges. 
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="card">
                                                <div class="card-header" id="heading10">
                                                    <div class="header-title" data-toggle="collapse" data-target="#question10" aria-expanded="false" aria-controls="question10">
                                                            <i class="lni-pencil"></i> How do I apply as a Mentor?  
                                                    </div>
                                                    </div>
                                                <div id="question10" class="collapse" aria-labelledby="heading10" data-parent="#question">
                                                    <div class="card-body">
                                                            A mentor is not only supposed to play but also lead. They are the key tactician and strategist for the team. They take major decisions. Assign roles/variants to teammates. Take important calls when needed to give their team the best shot at winning it all. It is a tough and critically important Job, therefore you need, at the minimum 
                                                            <ul>
                                                                <li>1) Needs 5 years of experience as a professional poker player.</li>
                                                                <li>2) Needs to have previous leadership experience. </li>
                                                                <li>3)  Needs to have played actively (500+ tournaments online) for a year.</li>
                                                                <li> 4) Needs to have played at least 3000 tournaments in the last 5 years.</li>
                                                                <li>5) Needs to have at least 10 ITM’s in International fields. </li>
                                                            </ul>
                                                            
                                                            If you meet the following criteria, please submit your application *here*. If you qualify, you will be drafted in the mentor draft where  the team owners select the mentor for their team. 
                                                             
                                                    </div>
                                                </div>
                                        </div>
                                        <div class="card">
                                                <div class="card-header" id="heading11">
                                                    <div class="header-title" data-toggle="collapse" data-target="#question11" aria-expanded="false" aria-controls="question11">
                                                            <i class="lni-pencil"></i> How do I apply as a Pro?   
                                                    </div>
                                                    </div>
                                                <div id="question11" class="collapse" aria-labelledby="heading11" data-parent="#question">
                                                    <div class="card-body">
                                                            A Pro is the star player of the team, They are supposed to be strong players that give the team a tactical edge and raw firepower. It is a demanding job that is only for established high performance players.  Therefore you need to meet the following criteria. 
                                                            <ul>
                                                                <li>1) Two years of experience as a professional poker player.</li>
                                                                <li>2) Playing actively for a year (800 tournaments online, 40 live, 500 tournaments a year if doing both)</li>
                                                            </ul>
                                                             
                                                            If you meet the following criteria, please submit your application *here*. If you qualify, you will be drafted in the pro draft where  the team owners and mentors select the pros for their team.
                
                                                    </div>
                                                </div>
                                        </div>
                                </div>
                                
        
                                
                                
                    </div>
                    
                    <div class="col-lg-6 col-md-6 col-xs-12 col-sm-12 collapse multi-collapse" id="faqex2">
                        <div class="accordion">
                            
                            <div >
                                    <div class="card">
                                            <div class="card-header" id="headingSix6">
                                                <div class="header-title" data-toggle="collapse" data-target="#questionSix6" aria-expanded="false" aria-controls="questionSix6">
                                                    <i class="lni-pencil"></i> I want to register as a Pro player, is there a Pro player qualifier? 
                                                </div>
                                            </div>
                                            <div id="questionSix6" class="collapse" aria-labelledby="headingSix6" data-parent="#question">
                                                <div class="card-body">
                                                        Yes, please check if you meet the minimum criteria to qualify as a Pro player here. There is a draft that consists exclusively of Pro players (Pro draft).  </div>
                                            </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingSeven">
                                            <div class="header-title" data-toggle="collapse" data-target="#questionSeven7" aria-expanded="false" aria-controls="questionSeven7">
                                                    <i class="lni-pencil"></i> If after being drafted, I end up deciding to not play, can I delete my account? 
                                            </div>
                                            </div>
                                        <div id="questionSeven7" class="collapse" aria-labelledby="headingSeven" data-parent="#question">
                                            <div class="card-body">
                                                    No you cannot, if you have been included in the draft and do not wish to play, Inform management at the earliest, at least a week in advance. Failure to do so will incur harsh penalties, bans and restrictions.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                            <div class="card-header" id="headingEight8">
                                                <div class="header-title" data-toggle="collapse" data-target="#questionEight8" aria-expanded="false" aria-controls="questionEight8">
                                                        <i class="lni-pencil"></i> How are Teams selected?  
                                                </div>
                                                </div>
                                            <div id="questionEight8" class="collapse" aria-labelledby="headingEight8" data-parent="#question">
                                                <div class="card-body">
                                                        Players who top the leaderboards in Online/live qualifiers, along with Players who qualified through the Pro drafts form a drafting pool. In the selection ceremony, through a snake draft, teams are selecting by the owners after consulting their advisors and mentors. (Who are drafted themselves). There a fair drafting process takes place through which every team has to select players from all three categories (Qualifiers, Pros, Wildcards).  
                                                </div>
                                            </div>
                                    </div>
                                    <div class="card">
                                            <div class="card-header" id="headingNine9">
                                                <div class="header-title" data-toggle="collapse" data-target="#questionNine9" aria-expanded="false" aria-controls="questionNine9">
                                                        <i class="lni-pencil"></i> What are the Perks of being part of a Team?  
                                                </div>
                                                </div>
                                            <div id="questionNine9" class="collapse" aria-labelledby="headingNine9" data-parent="#question">
                                                <div class="card-body">
                                                        Along with the monetary benefits. You get to play team poker, help grow the game the India, interact and play with the best internationally, holistically developing yourself as a player and a part of the team. All while making history.  
                                                </div>
                                            </div>
                                    </div>
                                    <div class="card">
                                            <div class="card-header" id="headingTen10">
                                                <div class="header-title" data-toggle="collapse" data-target="#questionTen10" aria-expanded="false" aria-controls="questionTen10">
                                                        <i class="lni-pencil"></i> How are wildcards decided? 
                                                </div>
                                                </div>
                                            <div id="questionTen10" class="collapse" aria-labelledby="headingTen10" data-parent="#question">
                                                <div class="card-body">
                                                        Wildcard is a player who doesn’t have to qualify. Who is added to the team in hopes of giving them the X factor. They can be an international celebrity or a legendary Pro. They are chosen completely at the team’s discretion. They can be players who bring great leadership qualities, a great sense of camaraderie or just aggressive everything but the kitchen sink skills!. They cannot be a part of the current draft though.  
                                                </div>
                                            </div>
                                    </div>
                                    <div class="card">
                                            <div class="card-header" id="headingEleven11">
                                                <div class="header-title" data-toggle="collapse" data-target="#questionEleven11" aria-expanded="false" aria-controls="questionEleven11">
                                                        <i class="lni-pencil"></i> Loreal Impsum 
                                                </div>
                                                </div>
                                            <div id="questionEleven11" class="collapse" aria-labelledby="headingEleven11" data-parent="#question">
                                                <div class="card-body">
                                                        Wildcard is a player who doesn’t have to qualify. Who is added to the team in hopes of giving them the X factor. They can be an international celebrity or a legendary Pro. They are chosen completely at the team’s discretion. They can be players who bring great leadership qualities, a great sense of camaraderie or just aggressive everything but the kitchen sink skills!. They cannot be a part of the current draft though.  
                                                </div>
                                            </div>
                                    </div>
                            </div>
                            
    
                            
                        </div>
                    </div>
                    <div style="text-align:center;width:100%;height:100%;padding:20px;color:#103178" >
                        <div data-toggle="collapse" data-target=".multi-collapse" aria-expanded="false" aria-controls="faqex1 faqex2">
                                <p style="display: inline;font-size: 20px;cursor: pointer;" >MORE</p>&nbsp; <i style="font-size: 20px;" class="fa fa-angle-double-down"></i> 
                        </div>
                       
                    </div>
            </div>
        </div>
    </section>
