<style>
h3{
    font-size: 25px;
}
</style>
<header id="header-wrap">
    <app-navigation></app-navigation>
    <!-- Main Carousel Section Start -->
    <div id="main-slide" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">
            <div class="team-banner">
                <img class="d-block w-100" style="
                opacity: 0.8;" src="assets/img/background/team-banner.jpg" alt="First slide">
                <div class="carousel-caption d-md-block">
                
                    <h1 class="wow fadeInDown heading" data-wow-delay=".4s">Our Core Team</h1>
                    <div id="mySidenav" class="sidenav">
                        <div class="">
                            <a href="#" class="nav-reg-btn levitate"  id="reg"><strong>REGISTER <br><span class="mob_hide">NOW</span></strong></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Main Carousel Section End -->
    </div>
</header>
<!-- Team Section Start -->
<section id="team" class="section-padding text-center team-core">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title-header text-center">
                    <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">Team</h1>
                    <p class="wow fadeInDown" data-wow-delay="0.2s">Poker Sports League</p>
                </div>
            </div>
        </div>
        <div class="row">
			 <div class="col-sm-8 col-md-8 col-lg-4">
                <!-- Team Item Starts -->
                <div class="team-item wow fadeInUp" data-wow-delay="0.2s">
                    <div class="team-img" style="max-width: 100%;">
                        <img class="img-fluid" style="height:250px;width: 250px;max-width: 100%;" src="assets/img/amit-burman.jpg" alt="">
                        <div class="" style="position: initial;">
                            <h3>Amit Burman</h3>
                            <p><b>Co-founder and Invester</b></p>
                            <p>Amit Burman is the chairman of Dabur group. He is one of the prime invester of PSL. </p>
                        </div>
                        <div id="amit_burman" class="collapse" aria-labelledby="headingOne" data-parent="#headingOne">
                             Mr. Amit Burman is responsible for Dabur India's foray into processed foods business with the setting up of Dabur Foods Ltd. It is to Amit's credit today that Dabur Real and Hommade are household names. He is also responsible for driving all business strategy, development and communications at Dabur Foods.
                        </div>
                        <div id="amit_b_toggle" class="header-title" data-toggle="collapse" data-target="#amit_burman" aria-expanded="true" aria-controls="collapseOne" style="cursor:pointer">
                            <span style="color:blue;">Read more</span>
                        </div>
                    </div>
                    
                </div>
                <!-- Team Item Ends -->
            </div>
            <div class="col-sm-8 col-md-8 col-lg-4">
                <!-- Team Item Starts -->
                <div class="team-item wow fadeInUp" data-wow-delay="0.2s">
                    <div class="team-img" style="max-width: 100%;">
                        <img class="img-fluid" style="height:250px;width: 250px;max-width: 100%;" src="assets/img/team/team-01.jpg" alt="">
                        <div class="" style="position: initial;">
                            <h3>Pranav Bagai</h3>
                            <p><b>CEO, Poker sports League</b></p>
                            <p>Mr. Bagai is responsible for all operations and management of PSL .</p>
                        </div>
                        <div id="pranav_bagai" class="collapse" aria-labelledby="headingOne" data-parent="#headingOne">
                            Mr. Bagai is responsible for all operations and management of PSL .
                        </div>
                        <div id="pranav_toggle" class="header-title" data-toggle="collapse" data-target="#pranav_bagai" aria-expanded="true" aria-controls="collapseOne" style="cursor:pointer">
                            <span style="color:blue;">Read more</span>
                        </div>
                    </div>
                    
                </div>
                <!-- Team Item Ends -->
            </div>
            <div style="clear:both"></div>
            <div class="col-sm-6 col-md-6 col-lg-4">
                <!-- Team Item Starts -->
                <div class="team-item wow fadeInUp" data-wow-delay="0.4s">
                    <div class="team-img" style="max-width: 100%;">
                        <img class="img-fluid" style="height:250px;width: 250px;max-width: 100%;" src="assets/img/team/sid.jpg" alt="">
                        <div class="" style="position: initial;">
                            <h3>Sidharth Mishra</h3>
                            <p><b>Cheif of Producer,PSL</b></p>
                            <p>Mr. Bagai is responsible for all operations and management of PSL .</p>
                        </div>
                        <div id="sid_mishra" class="collapse" aria-labelledby="headingOne" data-parent="#headingOne">
                            Mr. Bagai is responsible for all operations and management of PSL .
                        </div>
                        <div id="sid_toggle" class="header-title" data-toggle="collapse" data-target="#sid_mishra" aria-expanded="true" aria-controls="collapseOne" style="cursor:pointer">
                            <span style="color:blue;">Read more</span>
                        </div>
                    </div>
                   
                </div>
                <!-- Team Item Ends -->
            </div>

            <div class="col-sm-6 col-md-6 col-lg-4">
                <!-- Team Item Starts -->
                <div class="team-item wow fadeInUp" data-wow-delay="0.6s">
                    <div class="team-img" style="max-width: 100%;">
                        <img class="img-fluid" style="height:250px;width: 250px;max-width: 100%;" src="assets/img/team/goindi.jpg" alt="">
                        <div class="" style="position: initial;">
                            <h3>Abhishek Goindi</h3>
                            <p><b>Cheif of Operations, PSL</b></p>
                            <p>Mr. Bagai is responsible for all operations and management of PSL .</p>
                        </div>
                        <div id="a_g" class="collapse" aria-labelledby="headingOne" data-parent="#headingOne">
                            Mr. Bagai is responsible for all operations and management of PSL .
                        </div>
                        <div id="ag_toggle" class="header-title" data-toggle="collapse" data-target="#a_g" aria-expanded="true" aria-controls="collapseOne" style="cursor:pointer">
                            <span style="color:blue;">Read more</span>
                        </div>
                    </div>
                   
                </div>
                <!-- Team Item Ends -->
            </div>

            <div class="col-sm-6 col-md-6 col-lg-4">
                <!-- Team Item Starts -->
                <div class="team-item wow fadeInUp" data-wow-delay="0.8s">
                    <div class="team-img" style="max-width: 100%;">
                        <img class="img-fluid"  style="height:250px;width: 250px;max-width: 100%;" src="assets/img/team/kunaal.jpg" alt="">
                        <div class="" style="position: initial;">
                            <h3>Kunaal Bharadwaj</h3>
                            <p>Cheif of Marketing, PSL</p>
                            <p>Mr. Bagai is responsible for all operations and management of PSL .</p>
                        </div>
                        <div id="kunaal_b" class="collapse" aria-labelledby="headingOne" data-parent="#headingOne">
                            Mr. Bagai is responsible for all operations and management of PSL .
                        </div>
                        <div id="kunaal_b_toggle" class="header-title" data-toggle="collapse" data-target="#kunaal_b" aria-expanded="true" aria-controls="collapseOne" style="cursor:pointer">
                            <span style="color:blue;">Read more</span>
                        </div>
                    </div>
                </div>
                <!-- Team Item Ends -->
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4">
                <!-- Team Item Starts -->
                <div class="team-item wow fadeInUp" data-wow-delay="1s">
                    <div class="team-img" style="max-width: 100%;">
                        <img class="img-fluid" style="height:250px;width: 250px;max-width: 100%;" src="assets/img/team/kd.jpg" alt="">
                        <div class="" style="position: initial;">
                            <h3>Kumaresh Devendran</h3>
                            <p><b>Head of Media, PSL</b></p>
                            <p>Mr. Bagai is responsible for all operations and management of PSL .</p>
                        </div>
                        <div id="kd" class="collapse" aria-labelledby="headingOne" data-parent="#headingOne">
                            Mr. Bagai is responsible for all operations and management of PSL .
                        </div>
                        <div id="kd_toggle" class="header-title" data-toggle="collapse" data-target="#kd" aria-expanded="true" aria-controls="collapseOne" style="cursor:pointer">
                            <span style="color:blue;">Read more</span>
                        </div>
                    </div>
                    
                </div>
                <!-- Team Item Ends -->
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4">
                <!-- Team Item Starts -->
                <div class="team-item wow fadeInUp" data-wow-delay="1.2s">
                    <div class="team-img" style="max-width: 100%;">
                        <img class="img-fluid" style="max-width: 100%;height:250px;width: 250px;" src="assets/img/team/manish.jpg" alt="">
                        <div class="" style="position: initial;">
                            <h3>Manish Takade</h3>
                            <p>Video Editor, PSL</p>
                            <p>Mr. Bagai is responsible for all operations and management of PSL .</p>
                        </div>
                        <div id="manish_t" class="collapse" aria-labelledby="headingOne" data-parent="#headingOne">
                            Mr. Bagai is responsible for all operations and management of PSL .
                        </div>
                        <div id="manish_t_toggle" class="header-title" data-toggle="collapse" data-target="#manish_t" aria-expanded="true" aria-controls="collapseOne" style="cursor:pointer">
                            <span style="color:blue;">Read more</span>
                        </div>
                    </div>
                   
                </div>
                <!-- Team Item Ends -->
            </div>
        </div>

    </div>
    <div style="display:none" id="divreg" class="toggle-form">
        <app-register></app-register>
    </div>
    <div style="display:none" id="divshow2">
        <app-login></app-login>
    </div>
   
</section>
<app-footer></app-footer>
<!-- Team Section End -->
