<app-navigation></app-navigation>
<!-- Team Section Start -->
<section id="team" class="section-padding text-center team-core">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title-header text-center">
                    <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">Team</h1>
                    <p class="wow fadeInDown" data-wow-delay="0.2s">Poker Sports League</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-4">
                <!-- Team Item Starts -->
                <div class="team-item wow fadeInUp" data-wow-delay="0.2s">
                    <div class="team-img">
                        <img class="img-fluid" src="assets/img/team/team-01.jpg" alt="">
                        <div class="team-overlay">
                            <div class="overlay-social-icon text-center">
                                <ul class="social-icons">
                                    <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="lni-linkedin-filled" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="lni-behance" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="info-text">
                        <h3><a href="#">Pranav Bagai</a></h3>
                        <p>CEO, Poker sports League</p>
                    </div>
                </div>
                <!-- Team Item Ends -->
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4">
                <!-- Team Item Starts -->
                <div class="team-item wow fadeInUp" data-wow-delay="0.4s">
                    <div class="team-img">
                        <img class="img-fluid" src="assets/img/team/sid.jpg" alt="">
                        <div class="team-overlay">
                            <div class="overlay-social-icon text-center">
                                <ul class="social-icons">
                                    <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="lni-linkedin-filled" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="lni-behance" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="info-text">
                        <h3><a href="#">Sidharth Mishra</a></h3>
                        <p>Cheif of Producer,PSL</p>
                    </div>
                </div>
                <!-- Team Item Ends -->
            </div>

            <div class="col-sm-6 col-md-6 col-lg-4">
                <!-- Team Item Starts -->
                <div class="team-item wow fadeInUp" data-wow-delay="0.6s">
                    <div class="team-img">
                        <img class="img-fluid" src="assets/img/team/goindi.jpg" alt="">
                        <div class="team-overlay">
                            <div class="overlay-social-icon text-center">
                                <ul class="social-icons">
                                    <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="lni-linkedin-filled" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="lni-behance" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="info-text">
                        <h3><a href="#">Abhishek Goindi</a></h3>
                        <p>Cheif of Operations, PSL</p>
                    </div>
                </div>
                <!-- Team Item Ends -->
            </div>

            <div class="col-sm-6 col-md-6 col-lg-4">
                <!-- Team Item Starts -->
                <div class="team-item wow fadeInUp" data-wow-delay="0.8s">
                    <div class="team-img">
                        <img class="img-fluid" src="assets/img/team/kunaal.jpg" alt="">
                        <div class="team-overlay">
                            <div class="overlay-social-icon text-center">
                                <ul class="social-icons">
                                    <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="lni-linkedin-filled" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="lni-behance" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="info-text">
                        <h3><a href="#">Kunaal Bharadwag</a></h3>
                        <p>Cheif of Marketing, PSL</p>
                    </div>
                </div>
                <!-- Team Item Ends -->
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4">
                <!-- Team Item Starts -->
                <div class="team-item wow fadeInUp" data-wow-delay="1s">
                    <div class="team-img">
                        <img class="img-fluid" src="assets/img/team/kd.jpg" alt="">
                        <div class="team-overlay">
                            <div class="overlay-social-icon text-center">
                                <ul class="social-icons">
                                    <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="lni-linkedin-filled" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="lni-behance" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="info-text">
                        <h3><a href="#">Kumaresh Devendran</a></h3>
                        <p>Head of Media, PSL</p>
                    </div>
                </div>
                <!-- Team Item Ends -->
            </div>
            <div class="col-sm-6 col-md-6 col-lg-4">
                <!-- Team Item Starts -->
                <div class="team-item wow fadeInUp" data-wow-delay="1.2s">
                    <div class="team-img">
                        <img class="img-fluid" src="assets/img/team/manish.jpg" alt="">
                        <div class="team-overlay">
                            <div class="overlay-social-icon text-center">
                                <ul class="social-icons">
                                    <li><a href="#"><i class="lni-facebook-filled" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="lni-twitter-filled" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="lni-linkedin-filled" aria-hidden="true"></i></a></li>
                                    <li><a href="#"><i class="lni-behance" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="info-text">
                        <h3><a href="#">Manish Takade</a></h3>
                        <p>UI Designer, Apple</p>
                    </div>
                </div>
                <!-- Team Item Ends -->
            </div>
        </div>

    </div>
</section>
<!-- Team Section End -->
