<!-- vission Section Start -->
<header id="header-wrap">
    <app-navigation></app-navigation>
    <!-- Main Carousel Section Start -->
    <div id="main-slide" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">
            <div class="team-banner">
                <img class="d-block w-100" src="assets/img/background/team-banner.jpg" alt="First slide">
                <div class="carousel-caption d-md-block">
                    
                    <h1 class="wow fadeInDown heading" data-wow-delay=".4s">Our Vission</h1>
                    <div id="mySidenav" class="sidenav">
                        <div class="">
                            <a href="#" class="nav-reg-btn levitate" style="padding: 8px 6px; font-size: 15px; color: #061d40"  id="reg"><strong>REGISTER</strong></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Main Carousel Section End -->
    </div>
</header>

<!-- Team Section Start -->
<section>
    <div class="container matter">
        <div class="row">
            <div class="col-xs-12">
                <div class="contentContainer">
                    <div class="custom-box">
                        <h3 class="common-heading text-center">Our Vission </h3>
                        <div class="content-box">
                            <p style="font-size: 18px;"><em><strong>&lsquo;Poker league India, PSL 2019, Buy poker teams in India, upcoming Poker league in India, Poker Sport league 2019, poker leaderboard, best poker team India, PSL updates.&rsquo;</strong></em></p>

                        </div>
                        <!--
                    <div class="row">
                        <div class="col-xs-12 playVideomn">
                            <p>&nbsp;</p>
                            <h3 class="common-heading">Learn &amp; Play Poker With Adda52</h3>
                            <div class="video-wrapper">
                                <div class="play-area"><iframe id="player" title="YouTube video player" src="https://www.youtube.com/embed/SlcpPokznhw" frameborder="0" width="100%" height="100%"></iframe></div>
                            </div>
                            <div class="text-center takeTutorialBtn"><a class="btn red-btn global-btn" href="/home/openGamehtml5Window/poker">PLAY</a></div>
                        </div>
                    </div>
                    -->

                    </div>
                </div>
            </div>
        </div>
        <div style="display:none" id="divreg" class="toggle-form">
            <app-register></app-register>
        </div>
        <div style="display:none" id="divshow2">
            <app-login></app-login>
        </div>
    </div>
    <app-footer></app-footer>
</section>

<!-- Team Section End -->
