<!-- Blog Section Start -->
<!--  Section Start -->
<header id="header-wrap">
    <app-navigation></app-navigation>
    <!-- Main Carousel Section Start -->
    <div id="main-slide" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">
            <div class="team-banner">
                <img class="d-block w-100" src="assets/img/background/team-banner.jpg" alt="First slide">
                <div class="carousel-caption d-md-block">
                 
                    <h1 class="wow fadeInDown heading" data-wow-delay=".4s">Previous Seasons</h1>
                    <div id="mySidenav" class="sidenav">
                        <div class="">
                            <a href="#" class="nav-reg-btn levitate" style="padding: 8px 6px; font-size: 15px; color: #061d40"  id="reg"><strong>REGISTER</strong></a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <!-- Main Carousel Section End -->
    </div>
</header>
<section id="blog" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title-header text-center">
                    <h1 class="section-title wow fadeInUp" data-wow-delay="0.2s">Season 1</h1>
                    <p class="wow fadeInDown" data-wow-delay="0.2s">Poker Sports League</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="blog-item">
                    <div class="blog-image">
                        <a href="#">
                            <img class="img-fluid" routerLink="/season1" routerLinkActive="router-link-active" href='#top' src="assets/img/blog/img-1.jpg" alt="">
                        </a>
                    </div>
                    <div class="descr">
                        <div class="tag">Deltin, Royal</div>
                        <h3 class="title">
                            <a href="single-blog.html">
          Season 1 Photo Gallery
        </a>
                        </h3>
                        <div class="meta-tags">
                            <span class="date">Jan 20, 2018</span>
                            <span class="comments">| <a routerLink="/season1" routerLinkActive="router-link-active" href='#top'>Sneek into Gallery</a></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12">
                <div class="blog-item">
                    <div class="blog-image">
                        <a href="#">
                            <img class="img-fluid" routerLink="/season2" routerLinkActive="router-link-active" href='#top' src="assets/img/blog/img-2.jpg" alt="">
                        </a>
                    </div>
                    <div class="descr">
                        <div class="tag">Deltin, Royal</div>
                        <h3 class="title">
                            <a href="single-blog.html">
           Season 2  Photo Gallery
        </a>
                        </h3>
                        <div class="meta-tags">
                            <span class="date">Jan 20, 2018 </span>
                            <span class="comments">| <a  routerLink="/season2" routerLinkActive="router-link-active" href='#top'> Sneek into Gallery</a></span>
                        </div>
                    </div>
                </div>
            </div>



        </div>

    </div>
    <div style="display:none" id="divreg" class="toggle-form">
        <app-register></app-register>
    </div>
    <div style="display:none" id="divshow2">
        <app-login></app-login>
    </div>
    <app-footer></app-footer>
</section>
<!-- Blog Section End -->
