<!--  season 1 Section Start -->
<header id="header-wrap">
    <app-navigation></app-navigation>
    <!-- Main Carousel Section Start -->
    <div id="main-slide" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">
            <div class="team-banner">
                <img class="d-block w-100" src="assets/img/background/team-banner.jpg" alt="First slide">
                <div class="carousel-caption d-md-block">
                 
                    <h1 class="wow fadeInDown heading" data-wow-delay=".4s">Season 1</h1>
                    <div id="mySidenav" class="sidenav">
                        <div class="">
                            <a href="#" class="nav-reg-btn levitate" style="padding: 8px 6px; font-size: 15px; color: #061d40"  id="reg"><strong>REGISTER</strong></a>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <!-- Main Carousel Section End -->
    </div>
</header>
