<header id="header-wrap">
    <app-navigation></app-navigation>
    <!-- Main Carousel Section Start -->
    <div id="main-slide" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">
            <div class="team-banner">
                <img class="d-block w-100" src="assets/img/background/team-banner.jpg" alt="First slide">
                <div class="carousel-caption d-md-block">
                    <p class="fadeInUp wow" data-wow-delay=".6s">India's First Poker League</p>

                    <h1 class="wow fadeInDown heading" data-wow-delay=".4s">Poker Sports League</h1>
                    <h1 class="wow fadeInDown heading" data-wow-delay=".4s">Player profile</h1>
                    <a href="javascript:void(0);" class="fadeInLeft wow btn btn-border btn-lg" data-wow-delay=".6s" (click)="togglereg()" id="reg">Register Now! </a>
                    <div *ngIf="!auth.isLoggedIn() && !user" class="nav-item">
                        <button (click)="toggle()" id="btToggle" class="fadeInRight wow btn btn-border btn-lg" data-wow-delay=".6s">Login </button>
                    </div>

                </div>
            </div>

        </div>
        <!-- Main Carousel Section End -->
    </div>
</header>

<section>
    <div class="container matter">
        <div class="row">
            <div class="col-xs-12">
                <div class="contentContainer">
                    <div class="custom-box">
                        <h3 class="common-heading text-center">League Structure</h3>
                        <div class="content-box">

                            <p>The idea behind Poker Sports League, is to sportify the game. To Introduce a league for team- based poker, the first and only of its kind. To provide an Arena which is fair and accessible to all. To provide a stage where the
                                best, Nationally and Internationally can bring out the big guns and duke it out for the Glory. We have big prize pools, no entry fee and a hell of competition ahead. The league’s only aim is to grow the game. To take it
                                to heights previously unheard of. And you can rest assured we will leave no stone unturned while doing that. &ldquo;&rdquo;.</p>
                            <p>The league is draft based where players are drafted for teams from a pool of online qualifiers, live qualifiers, Pros and wildcards after deliberation by the owner(s) with their mentor(s).&rdquo;</p>

                        </div>
                        <div class="col-xs-12">
                            <h4 class="globleHeadingh4 globlegreen">Structure-
                            </h4>
                            <p><strong>Qualifiers -> &ldquo;&rdquo;</strong>
                            </p>
                            <p> 1) Players qualify for drafting pools by doing well in online/live qualifiers.- &ldquo;&rdquo;
                            </p>
                            <p> Get an opportunity to play for glory by playing free online qualifiers that are running on a regular schedule. Come play with us live at the nicest banquet halls across the country and get a chance to play poker on India’s
                                biggest stage. Be a part of history &ldquo;&rdquo;
                            </p>
                            <p>2) Players qualify from Pro drafts and wildcard entries &ldquo;&rdquo;
                            </p>

                        </div>
                        <div class="col-xs-12">
                            <p><strong>B) Selection Ceremony- Players from various drafts are selected and assigned teams.
                            </strong></p>

                            <p> 1) Players are drafted in teams, picked by mentors based on their performances. &ldquo;&rdquo;
                            </p>
                        </div>
                        <div class="col-xs-12">
                            <p><strong>C) Boot Camp (2 days)</strong></p>
                            <p>1) Interact with your team and other teams while working on your strategies,tactics and game plan.This two day bootcamp is geared at preparing you for the five day grind ahead. So That you are in the right condition. Mentally,
                                emotionally and physically to play your A-game.
                            </p>
                        </div>
                        <div class="col-xs-12">
                            <p><strong>D) Day 1</strong></p>

                            <p>X event will be played on Day 1.
                            </p>
                        </div>
                        <div class="col-xs-12">
                            <p><strong>E) Day 2</strong></p>


                            <p>Y event will be played on Day2
                            </p>

                        </div>
                        <div class="col-xs-12">
                            <p><strong>F) Day 3</strong></p>

                            <p>Z event will be played on Day3 &ndash;
                            </p>

                        </div>
                        <div class="col-xs-12">
                            <p><strong>G) Day 4</strong></p>

                            <p>Q event will be played on Day4
                            </p>
                        </div>
                        <div class="col-xs-12">
                            <p><strong>H) Finale</strong></p>

                            <p>Watch the teams duke it out for the Gold, glory and trophy. The team that scores the highest PSLP wins.</p>
                        </div>
                        <div class="col-xs-12">
                            <p><strong>G) Awarding Ceremony </strong></p>
                            <p>I) End of Itenary</p>
                        </div>
                        <div class="col-xs-12">
                            <p><strong>So what are you waiting for? Put your thinking cap and poker face on, and gun it for glory!</strong></p>



                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<div style="display:none" id="divreg" class="toggle-form">
    <app-register></app-register>
</div>
<div style="display:none" id="divshow2">
    <app-login></app-login>
</div>
