<div class="container-fluid" style="
position: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
background: rgba(90, 90, 90, 0.5);
z-index: 99999999;
width:100% !important">
    <div class="row">
        <div class="col-md-6 mt-5 mx-auto style-login">
            <div class="popup-header">
                <div class="close-popup"><a href="javascript: void(0)"><i class="fa fa-window-close login-close" aria-hidden="true" (click)="closefp()"></i></a></div>
            </div>
            <div id="divfrgtp" style=" margin-top: 100px;">
                <h2 class="text-center">Forgot Password</h2>
                <form name="form" (ngSubmit)="f.form.valid && fp(f)"  #f="ngForm" novalidate style="margin: 40px;">
                    
                    <div class="form-group">
                        <label for="phone" class="loginlabel">Enter Phone</label>
                        <input class="form-control" type="text" name="phone" placeholder="Your Phone Number"  ngModel   #phone="ngModel" [ngClass]="{ 'is-invalid': f.submitted && phone.invalid }" required minlength="10" maxlength="10" phone (keypress)="keyPress($event)">
                        <div *ngIf="f.submitted && phone.invalid" class="invalid-val">
                            <div *ngIf="phone.errors.required">Phone Number is required.</div>
                            <div *ngIf="phone.errors.minlength">Please enter a valid number.</div>
                            <div *ngIf="phone.errors.maxlength">Please enter a valid number.</div>
                        </div>
                        <div id="scrollId" style="color: #dc3545;" [innerHTML]="htmlStr">
                        </div>
                    </div>
                
                    <div ><button type="submit" class="btn btn-success btn-block login-btn">Send</button></div>
                    
                </form>
            </div>
            		
            <div id="divotp" style=" margin-top: 100px;display: none">
                <h3 class="text-center">Enter One Time Password (OTP)</h3>
                
                <form name="formotp" (ngSubmit)="otp.form.valid && otpfunc(otp)"  #otp="ngForm" novalidate style="margin: 40px;">
                        <div style="color: #28a745;text-align: center;">
                                One Time Password (OTP) has been sent to your mobile, please enter the same to reset your password.
                        </div>
                        <br>
                    <div class="form-group">

                        <input class="form-control" type="hidden" value="{{phone.value}}" name="phone1" ngModel #phone1="ngModel"   autofocus >
                        <input class="form-control" type="text" name="otp_text" id="otp_text" placeholder="Enter OTP"  ngModel   #otp_text="ngModel" [ngClass]="{ 'is-invalid': otp.submitted && otp_text.invalid }" required (keypress)="keyPress($event)">
                        <div *ngIf="otp.submitted && otp_text.invalid" class="invalid-val">
                            <div *ngIf="otp_text.errors.required">OTP is required</div>
                        </div>
                        <div id="scrollId" style="color: #dc3545;" [innerHTML]="htmlStr">
                        </div>
                    </div>
                
                    <div style="text-align: center; ">
                        <button type="submit" class="button btn btn-success btn-lg login-btn">Verify</button>
                        <button type="button" (click)="changenum()" class="button btn btn-success btn-lg login-btn">Resend Otp</button>
                    </div>
                    
                    
                </form>
            </div>
            <div id="divsuccess" style=" margin-top: 100px;display: none;text-align: center;">
                
                <i class="fa fa-check-square-o" style="font-size: 121px; color: green;"></i>
                <br>
                <h2 class="text-center"> Password Updated! </h2>
                <br>
                <p> Your Password has been changed succesfully.</p>
                <p>Use your new password to login.</p>
                
            </div>

            <div id="divrp" style=" margin-top: 100px;display: none">
                    <h3 class="text-center">Reset Password </h3>
                    
                    <form name="formrp" (ngSubmit)="rp.form.valid && rpfunc(rp)"  #rp="ngForm" novalidate style="margin: 40px;" >
                            
                            <br>
                        <div class="form-group">
    
                            <!--label for="rp_phone" class="loginlabel">Enter Phone</label>
                            <input class="form-control" type="text" name="rp_phone" placeholder="Your Phone Number"  ngModel   #rp_phone="ngModel" [ngClass]="{ 'is-invalid': rp.submitted && rp_phone.invalid }" required minlength="10" maxlength="10" rp_phone (keypress)="keyPress($event)">
                            <div *ngIf="rp.submitted && rp_phone.invalid" class="invalid-val">
                                <div *ngIf="rp_phone.errors.required">Phone Number is required</div>
                                <div *ngIf="rp_phone.errors.minlength">Please enter a valid number</div>
                                <div *ngIf="rp_phone.errors.maxlength">Please enter a valid number</div>
                            </div-->

                            <label for="password" class="loginlabel">Enter Password</label>
                            <input class="form-control" type="password" name="password" placeholder="Your Password"  ngModel   #password="ngModel" [ngClass]="{ 'is-invalid': rp.submitted && password.invalid }" required minlength="6" password >
                            <div *ngIf="rp.submitted && password.invalid" class="invalid-val">
                                <div *ngIf="password.errors.required">Password is required</div>
                                <div *ngIf="password.errors.minlength">Password must contain atleast 6 characters</div>
                            </div>
                            <div id="scrollId" style="color: #dc3545;" [innerHTML]="htmlStr">
                            </div>
                            <!--label for="confirmPassword" class="loginlabel">Confirm Password</label>
                            <input class="form-control" type="text" name="confirmPassword" placeholder="Your Phone Number"  ngModel   #confirmPassword="ngModel" [ngClass]="{ 'is-invalid': rp.submitted && confirmPassword.invalid }" required  confirmPassword >
                            <div *ngIf="rp.submitted && confirmPassword.invalid" class="invalid-val">
                                <div *ngIf="confirmPassword.errors.required">Phone Number is required</div>
                                <div *ngIf="confirmPassword.errors.matchValueError">Confirm Password & Password must be same.</div>
                            </div-->
                            
                        </div>
                    
                        <div style="text-align: center; ">
                            <button type="submit" class="button btn btn-success btn-lg login-btn">Reset</button>
                        </div>
                        
                        
                    </form>
                </div>
        </div>

    </div>
    
</div>