<app-navigation></app-navigation>
<!-- Team Section Start -->
<section id="team" class="section-padding text-center">
    <div class="container">
        <div class="row">
            <div class="heading text-center about-head">
                <h3 class="heading mb-sm-5 mb-3 text-uppercase">PSL Mission </h3>
            </div>
            <p class="my-lg-4 my-3">Poker league India, PSL 2019, Buy poker teams in India, upcoming Poker league in India, Poker Sport league 2019, poker leaderboard, best poker team India, PSL updates.
            </p>

        </div>
    </div>
</section>
<!-- Team Section End -->
