@media only screen and (max-width: 800px) {
	.icon-logo{
		display:none;
	}

	.navbar {
        background: none;
    }

    .psl_contact_info {
        display: none;
	}
	
	.head_right {
		padding: 5px 10px;
	}
} 

@media only screen and (min-width: 700px) {
	.icon-logo{
		width: 5%;
		margin: 10px 10px 10px 50px;
	}
} 
