@media only screen and (max-width: 700px) {
	.carousel-item {
        min-height: 0; 
    }
   
    #reg {
        top: 110px;
    }
    #pranav_b_abt, #a_g_abt{
		display:none;
	}
	.psl_banner_registernow{
		z-index:100;
	}
} 
