<header id="header-wrap">
    <app-navigation></app-navigation>
    <!-- Main Carousel Section Start -->
    <div id="main-slide" class="carousel slide" data-ride="carousel">

        <div class="carousel-inner">
            <div class="team-banner">
                <img class="d-block w-100" src="assets/img/background/team-banner.jpg" alt="First slide">
                <div class="carousel-caption d-md-block">
            
                    <h1 class="wow fadeInDown heading" data-wow-delay=".4s">PSL Teams</h1>
                    <div id="mySidenav" class="sidenav">
                        <div class="">
                            <a href="#" class="nav-reg-btn levitate"  id="reg"><strong>REGISTER <br>NOW</strong></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Main Carousel Section End -->
    </div>
</header>

<!-- Team Section Start -->
<section id="team" class="section-padding text-center">
    <div class="container py-lg-3 py-2">
        <div class="heading text-center">

            <h3 class="heading mb-sm-5 mb-3 text-uppercase">Season2 Teams</h3>
        </div>
        <div class="row barber-grids">
            <div class="col-lg-3 col-sm-6 mb-lg-0 mb-5 text-center team-div">
                <div class="team-grid1" routerLink="/andhra-bullets" routerLinkActive="router-link-active" href='#top'>
                    <img src="assets/img/Andhra.jpg" class="img-fluid team-img" alt="" href='#top' />
                </div>


            </div>
            <div class="col-lg-3 col-sm-6 mb-lg-0 mb-5 text-center team-div" alt="">
                <div class="team-grid1" routerLink="/bengaluru-warriors" routerLinkActive="router-link-active">
                    <img src="assets/img/Bengaluru.jpg" class="img-fluid team-img" alt="" />
                </div>


            </div>
            <div class="col-lg-3 col-sm-6 mb-md-0 mb-5 text-center team-div" routerLink="/chennai-thalaivas" routerLinkActive="router-link-active">
                <div class="team-grid1">
                    <img src="assets/img/Chennai.jpg" class="img-fluid team-img" alt="" />
                </div>

            </div>
            <div class="col-lg-3 col-sm-6 text-center team-div">
                <div class="team-grid1" routerLink="/delhi-penthars" routerLinkActive="router-link-active">
                    <img src="assets/img/Delhi.jpg" class="img-fluid team-img" alt="" />
                </div>

            </div>
            <div class="col-lg-3 col-sm-6 text-center team-div" routerLink="/gujrat-falcons" routerLinkActive="router-link-active">
                <div class="team-grid1">
                    <img src="assets/img/Gujarat.jpg" class="img-fluid team-img" alt="" />
                </div>

            </div>
            <div class="col-lg-3 col-sm-6 text-center team-div" routerLink="/goan-nuts" routerLinkActive="router-link-active">
                <div class="team-grid1">
                    <img src="assets/img/Goa.jpg" class="img-fluid team-img" alt="" />
                </div>

            </div>
            <div class="col-lg-3 col-sm-6 text-center team-div" routerLink="/kolkata-kings" routerLinkActive="router-link-active">
                <div class="team-grid1">
                    <img src="assets/img/Kolkata.jpg" class="img-fluid team-img" alt="" />
                </div>

            </div>
            <div class="col-lg-3 col-sm-6 text-center team-div" routerLink="/mumbai-anchors" routerLinkActive="router-link-active">
                <div class="team-grid1">
                    <img src="assets/img/Mumbai.jpg" class="img-fluid team-img" alt="" />
                </div>

            </div>
            <div class="col-lg-3 col-sm-6 text-center team-div" routerLink="/pune-sharks" routerLinkActive="router-link-active">
                <div class="team-grid1">
                    <img src="assets/img/Pune.jpg" class="img-fluid team-img" alt="" />
                </div>

            </div>
            <div class="col-lg-3 col-sm-6 text-center team-div" routerLink="/punjab-bluffers" routerLinkActive="router-link-active">
                <div class="team-grid1">
                    <img src="assets/img/Punjab.jpg" class="img-fluid team-img" alt="" />
                </div>

            </div>
            <div class="col-lg-3 col-sm-6 text-center team-div" routerLink="/rajasthan-tilters" routerLinkActive="router-link-active">
                <div class="team-grid1">
                    <img src="assets/img/Rajasthan.jpg" class="img-fluid team-img" alt="" />
                </div>


            </div>
        </div>
    </div>
    <div style="display:none" id="divreg" class="toggle-form">
        <app-register></app-register>
    </div>
    <div style="display:none" id="divshow2">
        <app-login></app-login>
    </div>
   
</section>
<app-footer></app-footer>
<!-- Team Section End -->
